#chat {
  padding: .5em;
  border: 1px solid #777;
  height: 300px;
  overflow-y: scroll;
}

.user-change, .user-exit, .user-enter {
  color: #000;
  font-size: .8em;
}

.username {
  font-weight: bold;
  color: #000;
}

#entry {
  width: 100%;
}

.center {
  text-align :center;
  padding-top: 3px;
}

.column1 {
  float: left;
  width: 10%;
  padding: .5em;
}
.column2 {
  float: left;
  width: 90%;
  padding: .5em;
}

html, body {
    height: 100%;
      background-color: #FFB101;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.span2 {
  width: 100%;
}

.span10 {
  width: 100%;
}

#sidebar {
  background-color: #020100;
  color: #FFB101;
  border-color: #999;
}


